#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* justify-content: flex-end; */
  /* height: 200px; */
  position: relative;
  color-scheme: light dark;
}
input {
  border-style: none;
  &:focus {
    outline: none;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.Nav {
  background-color: #535bf2;
  /* text-align: center; */
  height: 100%;
  .barNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #535bf2; */
    /* text-align: center; */
    max-width: 1200px;
    margin: auto;
    padding: 0px 10px;
    h3 {
      color: #fff;
      /* font-size: 3rem; */
      font-size: calc(1rem + 2.8vw);
      margin: 0px;
    }

    .inputNav {
      border-radius: 8px;
      height: 35px;
      border: 1px solid transparent;
      margin: 1px;
      font-size: calc(0.5rem + 0.6vw);
      width: 200px;
    }
    .butNav {
      width: 80px;
      font-size: small;
      padding: 5px 0px;
      padding-right: 0px;
      margin: 1px;
      color: black;
      font-size: calc(0.4rem + 0.6vw);
      &:hover {
        background-color: #535bf2;
        color: #fff;
      }
    }
  }
}

.bodyLanding {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding-bottom: 80px; */
  align-items: center;
  .boxLanding {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* grid-template-columns: 400px 300px; */
    justify-items: center;
    width: 100%;
    .salaLanding {
      width: 550px;
      font-size: calc(1rem + 0.5vw);
      .textoLanding {
        display: flex;
        flex-direction: row;
      }
    }
  }
  .inputBoxLanding {
    margin-top: 10px;
    height: 200px;
    .inputSalaLanding {
      display: flex;
      border: 1px solid #535bf2;
      width: 450px;
      /* align-content: center; */
      justify-content: space-between;
      padding: 0px;
      margin: auto;
      border-radius: 0px 7px 7px 0px;
      height: 50px;
      input {
        /* border-bottom: 1px solid black; */
        padding-left: 5px;
        font-size: 1.3rem;
        /* height: 20px; */
      }
      button {
        /* padding: 0px; */
        background-color: #535bf2;
        color: light-dark(white, black);
        border-radius: 0px 5px 5px 0px;
        font-size: 20px;
        width: 150px;
        &:hover {
          background-color: #8073fa;
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .bodyLanding .boxLanding {
    grid-template-columns: repeat(2, minmax(0, 3fr));
    font-size: calc(0.6rem + 0.6vw);
    width: 70vw;
  }
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.bodySala {
  text-align: center;
  width: 100%;
  /* height: calc(100vh - 80px); */
  /* height: 100vh; */
  /* flex: 1; */
  /* overflow-y: auto; */
  overflow: hidden;
  padding-bottom: 40px;
  .titleRoom {
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin: 0px;
    border-bottom: 1px solid black;
    /* overflow-y: scroll; */
    h4,
    h3 {
      margin: 0;
    }
  }
  .boxSala {
    display: flex;
    align-items: center;
    justify-items: center;
    scrollbar-gutter: stable both-edges;
    /* height: 100vh; */
    height: calc(100vh - 250px);
    /* height: 100%; */
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    /* width: 100vw; */
    .apodoBoxRoom {
      margin: auto;
      input {
        /* outline: auto; */
        height: 30px;
        border: 2px solid black;
        border-radius: 5px;
      }
      button {
        margin-left: 10px;
        background-color: #535bf2;
        color: #fff;
        &:hover {
          background-color: #6a71f1;
        }
      }
    }
    .chatRoom {
      width: 100vw;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-between;
      /* top: 0; */
      /* overflow-y: auto; */
      /* height: calc(100vh - 170px); */
      .messageBoxRoom {
        flex: 1;
        /* display: flex;
        flex-direction: column; */
        overflow-y: auto;
        /* max-height: 90vh; */
        /* align-items: left; */
        .lineRoom {
          display: flex;
          /* flex-direction:  */
          width: 100%;
          height: 100%;
          /* background-color: black; */
          border-bottom: 1px solid rgb(154, 164, 209);
          .userMessage {
            /* color: #008b85; */
            /* position: absolute; */
            /* left: 0; */
            /* background-color: hsl(237, 86%, 64%); */
            font-size: 20px;
          }
          .msgMessage {
            font-weight: 200;
            font-size: 20px;
          }
        }
      }
      .boxInputRoom {
        display: flex;
        position: fixed;
        bottom: 0px;
        /* left: auto; */
        width: 100%;
        height: 40px;
        /* z-index: 1; */
        box-sizing: border-box;

        border-top: 1px solid black;
        .textInputRoom {
          flex: 1;
          width: 100vw;
          height: 30px;
          /* border: 1px solid transparent; */
          border-style: none;
          &:focus {
            outline: none;
          }
        }
        .buttonInputRoom {
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
}
#sidebar nav {
  flex: 1;
  overflow: auto;
  /* padding-top: 1rem; */
}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 0.25rem 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: #535bf2;
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}
.bodyHome {
  margin: auto;
  scrollbar-gutter: stable both-edges;
  display: flex;
  flex-direction: row;
  /* height: calc(100vh - 100px); */
  overflow: hidden;
  /* overflow-y: auto; */
  /* padding-top: 60px; */
  padding-bottom: 40px;
  width: 1200px;
  /* height: 100%; */
  /* position: relative; */
  height: 85vh;
  #sidebar {
    /* position: absolute; */
    /* top: 0px; */
    .boxbusquedaHome {
      display: flex;
      position: relative;
      /* height: 2em; */
      margin-top: 10px;
      /* margin-left: 10px; */
      .busquedaHome {
        border: 2px solid #6765e0;
        border-radius: 15px;
        height: 2.2rem;
        width: 100%;
        font-size: calc(2.6rem - 1vh);
        padding-left: 10 px;
      }
      .buttonSearch {
        position: absolute;
        right: 4px;
        top: 6.5px;
        height: 30px;
        width: 30px;
      }
      .deleteSearch {
        border-radius: 15px;
        background-color: #535bf2;
        color: #fff;
      }
    }
    nav {
      overflow-y: auto;
      margin-left: 10px;
      /* position: absolute; */
      /* top: 0px; */
      ul li {
        font-size: calc(2.5rem - 0.5vh);
      }
    }
  }
  .chatHome {
    height: 100%;
    margin-left: 20px;
    width: 1200px;
    border-right: 1px solid #535bf2;
    overflow-y: auto;
    .messageBoxRoom {
      scrollbar-gutter: stable both-edges;
      font-size: 25px;
      overflow-y: auto;
      overflow: hidden;
      /* height: calc(100vh - 30px); */
    }
    .boxInputRoom {
      /* overflow-x: hidden; */
      display: flex;
      position: absolute;
      width: 880px;
      bottom: 0px;
      padding-top: 5px; /* left: auto; */
      padding-bottom: 5px;
      /* width: 70%; */
      height: 40px;
      /* justify-items; */
      border-top: 1px solid black;
      justify-content: space-between;
      .boxUsernameRoom {
        display: flex;
        .userInputRoom {
          margin: auto;
          font-weight: 600;
          width: 50px;
          margin-left: 0;
          padding: 5px 5px;
        }
        .textInputRoom {
          width: 33vw;
          height: 30px;
          margin-left: auto;
          border: 1px solid transparent;
          /* background-color: #eeb004; */
        }
      }
      .buttonInputRoom {
        margin-right: 0px;
        padding: 5px;
        background-color: #535bf2;
        color: light-dark(white, black);
        border-radius: 10px;
        position: absolute;
        right: 0px;
        &:hover {
          background-color: #8073fa;
        }
      }
    }
  }
}

.Footer {
  background-color: hsl(237, 86%, 64%);
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-bottom: 0px; */
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* min-height: 60px; */
  .bottomFooter {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    max-width: 1088px;
    margin: auto;
    .urlFooter {
      margin-right: 70px;
    }
    .logoFooter {
      display: flex;
      margin-left: auto;
      color: #fff;
      .itemLogoFooter {
        display: flex;
        margin: 10px;
        align-items: end;
      }
    }
    /* } */
  }
}

.dataForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.boxErrorLayout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
